@model (List<Category>, Category )

<style>
    .licolor {
        color: black !important;
    }

</style>
<div class="container-fluid">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="color: #31708f"><b> KATEGORİ LİSTESİ </b></span>
                </div>
                <br />
                <div class="row">
                    <div class="container">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <a class="btn " onclick="DropCategoriId()" data-toggle="modal" data-target="#myModal"
                               style="background-color: #31708f; float: left; color:#ffffff">Ana Kategori Ekle </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="container">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-8">
                            <ul class="tree">
                                @foreach (Category categori in @Model.Item1)
                                {
                                    <!-- Aana kategoriler -->
                                    <li class="section licolor">
                                        <a  href="#" style="color: #31708f; float:right"  data-toggle="modal" data-target="#myModal" onclick="GetCategoriId('@categori.ID')"> Alt Kategori Ekle </a>
                                        @if (@categori.Childs.Count() > 0)
                                        {
                                            <input type="checkbox" id="@categori.ID" />
                                        }
                                        <label for="@categori.ID">@categori.CategoryName / ( @categori.Childs.Count())
                                            @if (@categori.Childs.Count() == 0)
                                            {
                                                <a asp-area="Management" asp-controller="Category" asp-action="Delete" asp-route-id="@categori.ID">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            }
                                        </label>
                                        @if (categori.Childs.Count() > 0)
                                        {
                                            @foreach(Category subcategori in categori.Childs)
                                            {
                                                <ul>
                                                    <li class="licolor"> @subcategori.CategoryName
                                                        <a asp-area="Management" asp-controller="Category" asp-action="Delete" asp-route-id="@subcategori.ID">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </li>


                                }
                            </ul>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>

                <br />

            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.panel -->
    <!-- /.col-lg-12 -->
</div>

  <!-- insert category modal -->
    <div class="modal"  tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form role="form" method="post" asp-controller="Category" asp-area="Management" asp-action="CreateCategory" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Yeni Kategori Giriniz</label>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input asp-for="@Model.Item2.CategoryName" class="form-control" />
                                <input type='hidden' asp-for="@Model.Item2.CategoryID" value=""  />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn" style="background-color: #31708f; float: right; color:#ffffff">Kaydet</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <script  type="text/javascript">
       function GetCategoriId(Cid) {
           $("#myModal").find("input[type='hidden']").val(Cid); 
        }
        function DropCategoriId() {
            $("#myModal").find("input[type='hidden']").val(""); 
        }
</script>