@model (Product product, List<ProductPicture> images, List<Comment> comments, Comment newcomment, TransferDto newtransfer)
    
<link rel="stylesheet" href="~/css/viewproduct.css" type="text/css">
		@if (TempData["CommentMessage"] != null)
		{
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Teşekkürler, </strong> @TempData["CommentMessage"]
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		}
       <div class="card">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="@Model.images[0].PictureUrl" height="400"/></div>
						  <div class="tab-pane" id="pic-2"><img src="@Model.images[1].PictureUrl" height="400"/></div>
						  <div class="tab-pane" id="pic-3"><img src="@Model.images[2].PictureUrl" height="400"/></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@Model.images[0].PictureUrl" height="65" width="65"/></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="@Model.images[1].PictureUrl" height="65" width="65"/></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="@Model.images[2].PictureUrl" height="65" width="65"/></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">@Model.product.ShortName</h3>
						
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">55 Görüntülenme</span>
							</div>
				     	<div><span> Ürün Sahibi: @ViewBag.Sahibi</span></div>
						<div><span class="review-no">@Model.product.City/@Model.product.Town <small> -  @Model.product.CreatedDate.ToString().Substring(0,10)</small></span>
					   </div>
						<br />
						<div class="product-title"> Ürün Açıklaması:</div>	
						<p class="product-description">@Model.product.Description</p>
						
						<div class="action">
							<!-- BUrada if else koy eğer oturum açan kişinin urunu ise silme ve duzenmee aktif, değilse sahiplen butonu aktif olmalı-->
							
				       @{
						var luser = (System.Security.Claims.ClaimsIdentity)User.Identity; 
						if(User.Identity.IsAuthenticated && luser.FindFirst("UserID").Value==@Model.product.UserID.ToString()){
							if(@Model.product.ProductStatus==Agora.MODEL.Enums.ProductStatus.Adopted)
							{
								   	<button class="btn btn-success" type="button" disabled > Teslim Edildi</button>
							}else{
									<a class="btn btn-success" type="button" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.product.ID" > Düzenle</a>
							}	
					     }
						else
						{
						    <a class="btn btn-primary" type="button" data-toggle="modal" data-target="#transferModal" href="#" >SAHİPLEN</a>
						

							<div class="modal"  tabindex="-1" id="transferModal" role="dialog">
								<div class="modal-dialog" role="document">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">TRANSFER TALEBİ</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									  <span aria-hidden="true">&times;</span>
									</button>
								  </div>
									<form role="form" method="post" asp-controller="Transfer"  asp-action="NewTransfer" >
								      <div class="modal-body">
										<div class="form-group">
										<label for="recipient-name" class="col-form-label">Teslimat Adresi:</label>
										<textarea type="text" class="form-control" asp-for="@Model.newtransfer.Adress"></textarea>
									  </div>
									  <div class="form-group">
										<label for="message-text" class="col-form-label">Açıklama:</label>
										<textarea class="form-control" asp-for="@Model.newtransfer.Description"></textarea>
									  </div>
									   <label>Transfer Şekli</label>
										<div class="form-group ">
											<label class="radio-inline">
												<input asp-for="@Model.newtransfer.IsCargo" type="radio"   value="true">Kargo
											</label>
											<label class="radio-inline">
												<input asp-for="@Model.newtransfer.IsCargo" type="radio"  value="false">Elden
											</label>     
										</div>	
										<input type='hidden' asp-for="@Model.newtransfer.ProductId"  />

										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-secondary" style="background-color: #31708f; float: right; color:#ffffff" data-dismiss="modal">IPTAL</button>
										<button type="submit" class="btn" style="background-color: #31708f; float: right; color:#ffffff">Kaydet</button>
										</div>
									</form>
								</div>
								</div>
							</div>

						}
						}
						</div>
					</div>
				</div>
		</div>
		<!-- Yorum yap butonuna basınca eğer oturum acmadıysa oturum açtırt, -->
			<div class="mt-2">
				<div class="d-flex justify-content-center row">
					<div class="col-md-12">
						<div class="d-flex flex-column comment-section">
							@foreach (Comment comment in @Model.comments)
							{
							<div class="bg-white p-2 border-bottom border-light">
									<div class="d-flex flex-row user-info"><i class="fa fa-commenting-o fa-lg " style="margin-top:10px;" aria-hidden="true"></i>
										<div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@comment.NameSurname  <span class="date text-black-50">    (@comment.CreatedDate)</span></span></div>
									</div>
									<div class="mt-2">
										<p >@comment.Interpretation </p>
									</div>
							</div>
							
							}
						 <form role="form" method="post" asp-controller="Product"  asp-action="AddComment" enctype="multipart/form-data" >
							<div class="bg-light p-2">
								<div class="d-flex flex-row align-items-start"><i class="fa fa-commenting-o fa-lg " style="margin-top:10px;" aria-hidden="true"></i>
								    <textarea asp-for="@Model.newcomment.Interpretation" class="form-control ml-1 shadow-none textarea"></textarea>
								</div>
								<div class="mt-2 text-right">
									@if(@Model.product.ProductStatus==Agora.MODEL.Enums.ProductStatus.Adopted)
									{
									 <button class="btn btn-primary btn-sm shadow-none" type="button" disabled>Yorum Yap</button>
									}else{
									<button class="btn btn-primary btn-sm shadow-none" type="submit">Yorum Yap</button>
									}
								</div>

							</div>
							  <input type="hidden" asp-for="@Model.newcomment.ProductID"/> 
							</form>
						</div>
					</div>
				</div>
			</div>


	